<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", { title : "Dashboard - Añadir departamento"}) %>

<body>
    
    <div class="container">

        <%- include("../partials/tabs", { active : 2 }) %>
        
        <h2 class="text-dark h3 text-center my-3">Editando <%= apartment.name %> en <%= apartment.Building.name %></h2>

        <form action="/admin/apartments/<%= apartment.id %>/edit?_method=PUT" method="POST">

            <!-- Nombre -->
            <div class="form-group">
                <label for="name" class="text-dark h5 mt-2">Nombre del departamento:</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp"
                    value="<%= locals.apartment && apartment.name ? apartment.name : '' %>">
                <small id="nameHelp" class="form-text text-muted">
                    Máx 500 caracteres, campo obligatório.
                    <% if(locals.errors && errors.name) { %>
                        <span class="alert-danger"><%= errors.name.msg %></span>
                    <% } %>
                </small>
            </div>

            <!-- Descripción -->
            <div class="form-group">
                <label for="description" class="text-dark h5 mt-2">Descripción:</label>
                <textarea class="form-control" id="description" name="description" rows="3" aria-describedby="descHelp"><%= locals.userInput && userInput.description ? userInput.description : ( locals.apartment && apartment.description ? apartment.description : '' ) %></textarea>
                <small id="nameHelp" class="form-text text-muted">
                    Campo opcional. Máximo 1000 caracteres.
                    <% if(locals.errors && errors.description) { %>
                        <span class="alert-danger"><%= errors.description.msg %></span>
                    <% } %>
                </small>
            </div>

            <!-- Fechas de inicio y fin -->
            <div class="form-row justify-content-around">
                <div class="form-group my-0">
                    <label for="init-date" class="w-100 text-dark text-center">Fecha de inicio:</label>
                    <input class="form-control" type="date" id="init-date" name="init-date" aria-describedby="initHelp"
                        value="<%= locals.apartment && apartment.initDate ? apartment.initDate : '' %>">
                    <small id="initHelp" class="form-text text-muted">
                        <% if(locals.errors && errors["init-date"]) { %>
                            <span class="alert-danger"><%= errors["init-date"].msg %></span>
                        <% } %>
                    </small>
                </div>
                <div class="form-group my-0">
                    <label for="end-date" class="w-100 text-dark text-center">Fecha de finalización:</label>
                    <input class="form-control" type="date" id="end-date" name="end-date" aria-describedby="endHelp"
                        value="<%= locals.apartment && apartment.endDate ? apartment.endDate : '' %>">
                    <small id="endHelp" class="form-text text-muted">
                        <% if(locals.errors && errors["end-date"]) { %>
                            <span class="alert-danger"><%= errors["end-date"].msg %></span>
                        <% } %>
                    </small>
                </div>
            </div>

            <!-- Monto -->
            <label for="price" class="text-dark h5 mt-2">Monto:</label>
            <div class="form-row input-group mb-3">
                <input type="text" class="form-control" id="price" name="price" aria-label="Monto" aria-describedby="priceHelp"
                    value="<%= locals.apartment && apartment.price ? apartment.price : '' %>">
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                    <span class="input-group-text">0.00</span>
                </div>
            </div>
            <small id="priceHelp" class="form-text text-muted">
                <% if(locals.errors && errors.price) { %>
                    <span class="alert-danger"><%= errors.price.msg %></span>
                <% } %>
            </small>

            <!-- Borrado y  descarga de documentos -->
            <% if(apartment.Documents.length) { %>
                <div class="form-row" id="documents-container">
                    <label class="text-dark h5 mt-2">Documentos subidos:</label>
                    <% apartment.Documents.forEach(doc => { %>
                        <div class="form-row input-group my-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <a href="/admin/apartments/download/<%= doc.url %>">
                                        <i class="fas fa-download text-dark"></i>
                                    </a>
                                </span>
                            </div>
                            <input type="text" class="form-control bg-white" readonly value="<%= doc.url %>">
                            <div class="input-group-append delete-document" data-id="<%= doc.id %>" 
                                data-url="<%= doc.url %>" style="cursor: pointer;">
                                <span class="input-group-text">
                                    <i class="fas fa-times text-dark"></i>
                                </span>
                            </div>
                        </div>
                    <% }); %>
                </div>
            <% } %>

            <!-- Subida de nuevos documentos -->
            <div class="form-row input-group mt-3 mb-3">
                <div class="input-group-prepend">
                    <span class="d-none d-sm-inline input-group-text">Añadir documentos</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="doc" name="doc" aria-describedby="docHelp" multiple>
                    <!-- Información del archivo desde el script -->
                    <label class="custom-file-label" for="doc">
                        <span class="d-none d-sm-inline">Elegir archivos.</span>
                        <span class="d-inline d-sm-none">Subir documentos.</span>
                    </label>
                </div>
            </div>
            <small id="docHelp" class="form-text text-muted">
                <% if(locals.errors && errors.doc) { %>
                    <span class="alert-danger"><%= errors.doc.msg %></span>
                <% } %>
            </small>
            <input type="hidden" id="associated-docs" name="associated-docs">

            <!-- TODO : Muestra de las imágenes y opción de borrado -->
            <% if(apartment.Images.length){ %>
                <label for="img-shower" class="text-dark h5 mt-2">Imágenes subidas:</label>
                <div class="form-row container border border-secondary rounded py-3"
                    style="display: flex; justify-content: space-around;"
                    id="img-shower">
                    <% apartment.Images.forEach(img => { %>
                        <div style="position: relative; width: 30%;" class="py-1">
                            <img src="/img/uploaded/<%= img.url %>" alt="Imagen del departamento"
                                style="border-radius: 2%;" class="w-100">
                            <div style="position: absolute; right: 0; top: 0; background-color: white; width: 25%; text-align: center; cursor: pointer;"
                                data-id="<%= img.id %>" data-url="<%= img.url %>" class="rounded-bottom delete-image">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                    <% }); %>
                </div>
            <% } %> 

            <!-- Subida de imágenes -->
            <!-- 
                A futuro se puede reemplazar con "bootstrap-fileinput", PERO hay que aprender a usarlo primero
                https://plugins.krajee.com/file-input
             -->
            <div class="form-row input-group mt-3 mb-3">
                <div class="d-none d-sm-inline input-group-prepend">
                    <span class="input-group-text">Agregar imágenes</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="images" name="images" aria-describedby="imagesHelp" multiple>
                    <!-- Información de las imágenes desde el script -->
                    <label class="custom-file-label" for="images">
                        <span class="d-none d-sm-inline">Elegir imágenes.</span>
                        <span class="d-inline d-sm-none">Subir imágenes.</span>
                    </label>
                </div>
            </div>
            <small id="docHelp" class="form-text text-muted">
                <% if(locals.errors && errors.images) { %>
                    <span class="alert-danger"><%= errors.images.msg %></span>
                <% } %>
            </small>
            <input type="hidden" id="associated-images" name="associated-images">

            <input type="hidden" name="buildingName" value="<%= apartment.Building.name %>">
            <input type="hidden" name="buildingId" value="<%= apartment.Building.id %>">

            <!-- Botones -->
            <div class="form-row justify-content-around mb-3">
                <button class="btn btn-primary" type="submit" id="submit-button">Enviar</button>
                <button class="btn btn-primary" type="reset" id="reset-button">Resetear</button>
            </div>

        </form>

    </div>

    <script src="/js/validateApartment.js"></script>

</body>
</html>